// Font import
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');
@import './style/variables.scss';

// Reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// Body
body{
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}
// Common
.container{
    width: 70%;
    margin: auto;
}

// Buttons
.custom-btn{
    font-size: 10px;
    border-radius: 25px;
    border-style: none;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
}
.bg-yelloworange{
    background-color: $yelloworange;
    color: white;
}
.bg-purpleheart{
    background-color: $purpleheart;
    color: white;
}