// Palette

// Color Cube
$alabaster: #f8f8f8;
$deepcove: #051745;
$daisybush: #351ba2;
$scorpion: #5d5c5d;
$purpleheart: #8532e6;
$paleslate: #bcbbbc;
$yelloworange: #ffa837;
$scienceblue: #0649d7;
$jade: #02ca6b;
$java: #19d5e3;

// Median Cut
$luckypoint: #1a236c;
$concrete: #f3f3f3;
$victoria: #5b4792;
$regentgray: #818e9d;
$diserria: #dd9f4d;

// Material Design
$purpleheart-vibrant: #5926c0;
$scorpion-muted: #5a5759;
$jacksonspurple-darkvibrant: #2a1999;
$millibrook-darkmuted: #594035;
$tuliptree-darkvibrant: #eca447;
